{% extends 'base.html' %}
{%block content%}
<table class="table table-bordered">
	<thead>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		{%if mascotas%}
		{%for mascota in mascotas %}
		<tr>
			<td>{{mascota.id}}</td>
			<td>{{mascota.nombre}}</td>
			<td>{{mascota.sexo}}</td>
			<td>{{mascota.edad}}</td>
			<td>{{mascota.fecha}}</td>
			<td>{{mascota.persona.nombre}} {{mascota.persona.apellido}}</td>
		</tr>
		{%endfor%}
		{%else%}
		<h1>No hay registros, papud</h1>
		{%endif%}
	</tbody>
</table>
{%endblock%}